API_KEY=your_api_key
EMBEDDINGS_KEY=your_api_key
API_URL=http://localhost:7091
FLASK_APP=application/app.py
FLASK_DEBUG=true

#For Chatgpt OPENAI
OPENAI_API_KEY = sk-TZnQEyleBIH_bOg5P7_byEEpCjnpE3odyknhRlNUPIT3BlbkFJizmNUXC0d35nyB7kL5fuUJ_gxD6tjAft9ZBuwG1kAA
# OPENAI_API_KEY = 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